Repository Ab2nour/kaggle-competitions: changes, and which lint-staged commands are due for each by the changed paths.
All: poetry run isort, poetry run black, poetry run python scripts/clean_notebooks.py, poetry run nbqa isort --float-to-top

.lintstagedrc.json:

{
  "*.py": [
    "poetry run isort",
    "poetry run black"
  ],
  "*.ipynb": [
    "poetry run python scripts/clean_notebooks.py",
    "poetry run nbqa isort --float-to-top",
    "poetry run black"
  ]
}

feat: add helper function to print shapes of np.ndarray & df
  scripts/helper.py
Due: poetry run isort, poetry run black

refactor: add create_y_pipeline function
  2023/Playground Series/Season 3 Episode 22 Predict Health Outcomes of Horses/prediction.py
Due: poetry run isort, poetry run black

refactor: create function add_original_data
  2023/Playground Series/Season 3 Episode 22 Predict Health Outcomes of Horses/prediction.py
Due: poetry run isort, poetry run black

feat: new prediction
  2023/Playground Series/Season 3 Episode 22 Predict Health Outcomes of Horses/prediction.ipynb
Due: poetry run black, poetry run python scripts/clean_notebooks.py, poetry run nbqa isort --float-to-top

refactor: create `plot_distributions_*` functions
  2023/Playground Series/Season 3/Episode 23 Software Defects Dataset/exploratory-analysis.ipynb
  2023/Playground Series/Season 3/Episode 23 Software Defects Dataset/exploratory_analysis.py
Due: poetry run isort, poetry run black, poetry run python scripts/clean_notebooks.py, poetry run nbqa isort --float-to-top

feat(data): add original dataset for s3ep23
  2023/Playground Series/Season 3/Episode 23 Software Defects Dataset/data/original_dataset_train.csv
Due: none

feat: first submission s3ep23
  2023/Playground Series/Season 3/Episode 23 Software Defects Dataset/prediction.ipynb
  2023/Playground Series/Season 3/Episode 23 Software Defects Dataset/prediction.py
Due: poetry run isort, poetry run black, poetry run python scripts/clean_notebooks.py, poetry run nbqa isort --float-to-top

refactor: create models.py file for model list
  2023/Playground Series/Season 3/Episode 23 Software Defects Dataset/models.py
  2023/Playground Series/Season 3/Episode 23 Software Defects Dataset/prediction.py
Due: poetry run isort, poetry run black

fix: change imports for models.py
  2023/Playground Series/Season 3/Episode 23 Software Defects Dataset/prediction.ipynb
Due: poetry run black, poetry run python scripts/clean_notebooks.py, poetry run nbqa isort --float-to-top

refactor: remove obsolete imports
  2023/Playground Series/Season 3/Episode 23 Software Defects Dataset/prediction.py
Due: poetry run isort, poetry run black

refactor: create pipelines.py file
  2023/Playground Series/Season 3/Episode 23 Software Defects Dataset/pipelines.py
Due: poetry run isort, poetry run black

refactor: remove pipelines from `prediction.py`
  2023/Playground Series/Season 3/Episode 23 Software Defects Dataset/prediction.py
Due: poetry run isort, poetry run black

feat: add results saving in prediction notebook
  2023/Playground Series/Season 3/Episode 23 Software Defects Dataset/prediction.ipynb
Due: poetry run black, poetry run python scripts/clean_notebooks.py, poetry run nbqa isort --float-to-top

feat: add folder for prediction
  2023/Playground Series/Season 3/Episode 23 Software Defects Dataset/data/predictions/README.md
  2023/Playground Series/Season 3/Episode 23 Software Defects Dataset/prediction.ipynb
Due: poetry run black, poetry run python scripts/clean_notebooks.py, poetry run nbqa isort --float-to-top

docs: add README for results folder
  2023/Playground Series/Season 3/Episode 23 Software Defects Dataset/data/results/README.md
Due: none

feat: save time in predictions & improve cross validation
  2023/Playground Series/Season 3/Episode 23 Software Defects Dataset/prediction.py
Due: poetry run isort, poetry run black

feat: new predictions
  2023/Playground Series/Season 3/Episode 23 Software Defects Dataset/prediction.ipynb
Due: poetry run black, poetry run python scripts/clean_notebooks.py, poetry run nbqa isort --float-to-top

chore(deps): update dependencies
  poetry.lock
  pyproject.toml
Due: none

feat(wip): add grid_search code
  2023/Playground Series/Season 3/Episode 23 Software Defects Dataset/grid_search.py
Due: poetry run isort, poetry run black

feat(wip): add grid search to notebook
  2023/Playground Series/Season 3/Episode 23 Software Defects Dataset/prediction.ipynb
Due: poetry run black, poetry run python scripts/clean_notebooks.py, poetry run nbqa isort --float-to-top

docs: add README in grid search CV folder
  2023/Playground Series/Season 3/Episode 23 Software Defects Dataset/data/results/hyper-parameter-tuning/grid-search/README.md
Due: none

refactor: move folder name to variable in grid search
  2023/Playground Series/Season 3/Episode 23 Software Defects Dataset/grid_search.py
Due: poetry run isort, poetry run black

refactor: explicit n_splits in KFold grid search
  2023/Playground Series/Season 3/Episode 23 Software Defects Dataset/grid_search.py
Due: poetry run isort, poetry run black

refactor: add n_jobs=-1 to XGB model in models
  2023/Playground Series/Season 3/Episode 23 Software Defects Dataset/models.py
Due: poetry run isort, poetry run black

refactor: add config file with seed
  2023/Playground Series/Season 3/Episode 23 Software Defects Dataset/config.py
Due: poetry run isort, poetry run black

feat: add cv_strategy file
  2023/Playground Series/Season 3/Episode 23 Software Defects Dataset/cv_strategy.py
Due: poetry run isort, poetry run black

feat: use new cv strategy in predictions & grid search
  2023/Playground Series/Season 3/Episode 23 Software Defects Dataset/grid_search.py
  2023/Playground Series/Season 3/Episode 23 Software Defects Dataset/prediction.py
Due: poetry run isort, poetry run black

fix: predict was used instead of predict_proba...
  2023/Playground Series/Season 3/Episode 23 Software Defects Dataset/prediction.py
Due: poetry run isort, poetry run black

feat(data): add XGB CV results & best predictions
  2023/Playground Series/Season 3/Episode 23 Software Defects Dataset/data/predictions/tuned-xgboost.csv
  2023/Playground Series/Season 3/Episode 23 Software Defects Dataset/data/results/hyper-parameter-tuning/grid-search/XGBClassifier.csv
Due: none

feat: add datetime to saved CV results filename
  2023/Playground Series/Season 3/Episode 23 Software Defects Dataset/grid_search.py
Due: poetry run isort, poetry run black

refactor: add n_jobs parameter defaulting to -2
  2023/Playground Series/Season 3/Episode 23 Software Defects Dataset/grid_search.py
Due: poetry run isort, poetry run black

feat: start of s3ep24
  2023/Playground Series/Season 3/Episode 24 Smoker Status using Bio-Signals/column_names.py
  2023/Playground Series/Season 3/Episode 24 Smoker Status using Bio-Signals/exploratory-analysis.ipynb
Due: poetry run isort, poetry run black, poetry run python scripts/clean_notebooks.py, poetry run nbqa isort --float-to-top

feat: add xgb & catboost s3ep25
  2023/Playground Series/Season 3/Episode 25 Mohs Hardness/data/results/default.csv
  2023/Playground Series/Season 3/Episode 25 Mohs Hardness/models.py
  2023/Playground Series/Season 3/Episode 25 Mohs Hardness/prediction.ipynb
Due: poetry run isort, poetry run black, poetry run python scripts/clean_notebooks.py, poetry run nbqa isort --float-to-top

feat: s3ep26 starter
  2023/Playground Series/Season 3/Episode 26 Cirrhosis Outcomes/begin-competition.md
  2023/Playground Series/Season 3/Episode 26 Cirrhosis Outcomes/column_names.py
  2023/Playground Series/Season 3/Episode 26 Cirrhosis Outcomes/config.py
  2023/Playground Series/Season 3/Episode 26 Cirrhosis Outcomes/cv_strategy.py
  2023/Playground Series/Season 3/Episode 26 Cirrhosis Outcomes/data/dataset/processed/train.csv
  2023/Playground Series/Season 3/Episode 26 Cirrhosis Outcomes/data/dataset/raw/original_dataset_train.csv
  2023/Playground Series/Season 3/Episode 26 Cirrhosis Outcomes/data/dataset/raw/test.csv
  2023/Playground Series/Season 3/Episode 26 Cirrhosis Outcomes/data/dataset/raw/train.csv
  2023/Playground Series/Season 3/Episode 26 Cirrhosis Outcomes/data/predictions/README.md
  2023/Playground Series/Season 3/Episode 26 Cirrhosis Outcomes/data/predictions/sample_submission.csv
  2023/Playground Series/Season 3/Episode 26 Cirrhosis Outcomes/data/predictions/tuned-xgboost.csv
  2023/Playground Series/Season 3/Episode 26 Cirrhosis Outcomes/data/results/README.md
  2023/Playground Series/Season 3/Episode 26 Cirrhosis Outcomes/data/results/default.csv
  2023/Playground Series/Season 3/Episode 26 Cirrhosis Outcomes/data/results/hyper-parameter-tuning/grid-search/README.md
  2023/Playground Series/Season 3/Episode 26 Cirrhosis Outcomes/data/results/hyper-parameter-tuning/grid-search/XGBClassifier-2023-11-14 00:33:20.862548.csv
  2023/Playground Series/Season 3/Episode 26 Cirrhosis Outcomes/exploratory-analysis.ipynb
  2023/Playground Series/Season 3/Episode 26 Cirrhosis Outcomes/grid_search.py
  2023/Playground Series/Season 3/Episode 26 Cirrhosis Outcomes/models.py
  2023/Playground Series/Season 3/Episode 26 Cirrhosis Outcomes/pipelines.py
  2023/Playground Series/Season 3/Episode 26 Cirrhosis Outcomes/prediction.ipynb
  2023/Playground Series/Season 3/Episode 26 Cirrhosis Outcomes/prediction.py
Due: poetry run isort, poetry run black, poetry run python scripts/clean_notebooks.py, poetry run nbqa isort --float-to-top

refactor: create utils file
  src/utils.py
Due: poetry run isort, poetry run black
