Repository Ab2nour/kaggle-competitions: changes, and which lint-staged commands are due for each by the changed paths.
All: poetry run isort, poetry run black, poetry run python scripts/clean_notebooks.py, poetry run nbqa isort --float-to-top

.lintstagedrc.json:

{
  "*.py": [
    "poetry run isort",
    "poetry run black"
  ],
  "*.ipynb": [
    "poetry run python scripts/clean_notebooks.py",
    "poetry run nbqa isort --float-to-top",
    "poetry run black"
  ]
}

refactor: move EDA file to src/playground_series
  src/playground_series/exploratory_analysis.py
Due: poetry run isort, poetry run black

feat: first prediction s3ep26
  2023/Playground Series/Season 3/Episode 25 Mohs Hardness/models.py
  2023/Playground Series/Season 3/Episode 26 Cirrhosis Outcomes/column_names.py
  2023/Playground Series/Season 3/Episode 26 Cirrhosis Outcomes/data/predictions/hgb.csv
  2023/Playground Series/Season 3/Episode 26 Cirrhosis Outcomes/data/results/default.csv
  2023/Playground Series/Season 3/Episode 26 Cirrhosis Outcomes/metric.py
  2023/Playground Series/Season 3/Episode 26 Cirrhosis Outcomes/models.py
  2023/Playground Series/Season 3/Episode 26 Cirrhosis Outcomes/prediction.ipynb
  2023/Playground Series/Season 3/Episode 26 Cirrhosis Outcomes/prediction.py
Due: poetry run isort, poetry run black, poetry run python scripts/clean_notebooks.py, poetry run nbqa isort --float-to-top

chore: rename file (invalid name on Windows)
  2023/Playground Series/Season 3/Episode 24 Smoker Status using Bio-Signals/data/results/hyper-parameter-tuning/grid-search/XGBClassifier.csv
Due: none

chore: rename file (invalid Windows name)
  2023/Playground Series/Season 3/Episode 26 Cirrhosis Outcomes/data/results/hyper-parameter-tuning/grid-search/XGBClassifier.csv
Due: none

chore: rename file (invalid Windows name)
  2023/Playground Series/Season 3/Episode 25 Mohs Hardness/data/results/hyper-parameter-tuning/grid-search/XGBClassifier.csv
Due: none

chore: remove package.json
  .husky/pre-commit
  package-lock.json
  package.json
Due: none

chore: use uv instead of poetry
  .gitignore
  .python-version
  old-pyproject.toml
  pyproject.toml
  uv.lock
Due: none

docs: move begin-competition.md
  begin-competition.md
Due: none

refactor: remove obsolete file
  scripts/clean_notebooks.py
Due: poetry run isort, poetry run black

chore(deps): add keras & torch
  pyproject.toml
  uv.lock
Due: none
