Repository Ab2nour/kaggle-competitions: changes, and which lint-staged commands are due for each by the changed paths.
All: poetry run isort, poetry run black, poetry run nbqa isort --float-to-top

.lintstagedrc.json:

{
  "*.py": [
    "poetry run isort",
    "poetry run black"
  ],
  "*.ipynb": [
    "poetry run nbqa isort --float-to-top",
    "poetry run black"
  ]
}

refactor: remove AssertionError
  2023/Ongoing/Titanic Machine Learning from Disaster/prediction.ipynb
Due: poetry run black, poetry run nbqa isort --float-to-top

feat: ordinal encoder Titanic submission
  2023/Ongoing/Titanic Machine Learning from Disaster/data/results/ordinal_encoder.csv
  2023/Ongoing/Titanic Machine Learning from Disaster/data/results/smotenc.csv
  2023/Ongoing/Titanic Machine Learning from Disaster/prediction.ipynb
Due: poetry run black, poetry run nbqa isort --float-to-top

refactor: use dict for model list
  2023/Ongoing/Titanic Machine Learning from Disaster/prediction.ipynb
  2023/Playground Series/Season 3 Episode 13 Vector Borne Disease/data/original_dataset_test.csv
  2023/Playground Series/Season 3 Episode 13 Vector Borne Disease/data/original_dataset_train.csv
Due: poetry run black, poetry run nbqa isort --float-to-top

chore(deps): update prince
  poetry.lock
  pyproject.toml
Due: none

feat: add column names
  2023/Playground Series/Season 3 Episode 22 Predict Health Outcomes of Horses/column_names.py
  2023/Playground Series/Season 3 Episode 22 Predict Health Outcomes of Horses/exploratory-analysis.ipynb
Due: poetry run isort, poetry run black, poetry run nbqa isort --float-to-top

chore(deps): update lock file
  poetry.lock
Due: none

fix: move column names to the right variable
  2023/Playground Series/Season 3 Episode 22 Predict Health Outcomes of Horses/column_names.py
Due: poetry run isort, poetry run black

feat: create data.csv for s3ep22
  2023/Playground Series/Season 3 Episode 22 Predict Health Outcomes of Horses/data/data.csv
Due: none

refactor: improve exploratory analysis s3ep22
  2023/Playground Series/Season 3 Episode 22 Predict Health Outcomes of Horses/exploratory-analysis.ipynb
Due: poetry run black, poetry run nbqa isort --float-to-top

feat: add target variable to column names
  2023/Playground Series/Season 3 Episode 22 Predict Health Outcomes of Horses/column_names.py
Due: poetry run isort, poetry run black

refactor: remove obsolete file
  2023/Playground Series/Season 3 Episode 22 Predict Health Outcomes of Horses/utils.py
Due: poetry run isort, poetry run black

refactor: improve EDA
  2023/Playground Series/Season 3 Episode 22 Predict Health Outcomes of Horses/exploratory-analysis.ipynb
Due: poetry run black, poetry run nbqa isort --float-to-top

feat: create prediction file for s3ep22
  2023/Playground Series/Season 3 Episode 22 Predict Health Outcomes of Horses/prediction.ipynb
Due: poetry run black, poetry run nbqa isort --float-to-top

feat: first submission s3ep22
  2023/Playground Series/Season 3 Episode 22 Predict Health Outcomes of Horses/column_names.py
  2023/Playground Series/Season 3 Episode 22 Predict Health Outcomes of Horses/prediction.ipynb
Due: poetry run isort, poetry run black, poetry run nbqa isort --float-to-top

refactor: move functions to prediction.py
  2023/Playground Series/Season 3 Episode 22 Predict Health Outcomes of Horses/prediction.ipynb
  2023/Playground Series/Season 3 Episode 22 Predict Health Outcomes of Horses/prediction.py
Due: poetry run isort, poetry run black, poetry run nbqa isort --float-to-top

refactor: create `make_prediction` function
  2023/Playground Series/Season 3 Episode 22 Predict Health Outcomes of Horses/prediction.py
Due: poetry run isort, poetry run black

refactor: improve files
  2023/Playground Series/Season 3 Episode 22 Predict Health Outcomes of Horses/exploratory-analysis.ipynb
  2023/Playground Series/Season 3 Episode 22 Predict Health Outcomes of Horses/prediction.ipynb
Due: poetry run black, poetry run nbqa isort --float-to-top

refactor: add quali_var_* in column_names.py
  2023/Playground Series/Season 3 Episode 22 Predict Health Outcomes of Horses/column_names.py
Due: poetry run isort, poetry run black

refactor: remove print in create_models
  2023/Playground Series/Season 3 Episode 22 Predict Health Outcomes of Horses/prediction.py
Due: poetry run isort, poetry run black

style: run black
  2023/Ongoing/Titanic Machine Learning from Disaster/exploratory-analysis.ipynb
  2023/Playground Series/Season 3 Episode 12 Kidney Stone/classification.ipynb
Due: poetry run black, poetry run nbqa isort --float-to-top

refactor: create function `create_x_pipeline` in prediction.py
  2023/Playground Series/Season 3 Episode 22 Predict Health Outcomes of Horses/prediction.py
Due: poetry run isort, poetry run black

fix: rename none -> None in EDA
  2023/Playground Series/Season 3 Episode 22 Predict Health Outcomes of Horses/data/data.csv
  2023/Playground Series/Season 3 Episode 22 Predict Health Outcomes of Horses/exploratory-analysis.ipynb
Due: poetry run black, poetry run nbqa isort --float-to-top

ci: add scripts for cleaning notebooks
  scripts/__init__.py
  scripts/clean_notebooks.py
Due: poetry run isort, poetry run black

feat: new predictions
  2023/Playground Series/Season 3 Episode 22 Predict Health Outcomes of Horses/prediction.ipynb
Due: poetry run black, poetry run nbqa isort --float-to-top

ci: add notebook cleaning routine
  .lintstagedrc.json
Due: none

feat(wip): add pipeline for Feature Engineering
  2023/Playground Series/Season 3 Episode 22 Predict Health Outcomes of Horses/prediction.py
Due: poetry run isort, poetry run black

feat(wip): new predictions
  2023/Playground Series/Season 3 Episode 22 Predict Health Outcomes of Horses/prediction.ipynb
Due: poetry run black, poetry run nbqa isort --float-to-top
